.page__reciept {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	text-align: center;
	
	.page__receipt__container {
		background: #fff;
		border-radius: 5px;
		border: 1px solid #e4e4e4;
		display: flex;
		justify-content: space-between;
		height: 75px;
	}

	.page__receipt__icon {
		width: 15vw; 
		margin: 5px;
		flex-grow: 1;

		img {
			height: 100%;
		}
	}
	.page__receipt__info {
		display: flex;
		flex-direction: row;
		flex-grow: 8;
		justify-content: space-around;
    	align-items: center;
	}
}
